body {
    background-color: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar ul {
    list-style-type: none;
    background-color: rgb(33, 33, 33);
    padding: 0;
    margin: 0;
    height: 90px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    justify-content: center;
}
.navbar a:hover {
    opacity: .8;
}
.navbar li {
    display: inline;
    text-align: center;
    margin-left: 15px;
    
}
.arcLogo {
    float: left;
    max-width: 300px;
}

#contactbutton {
    float: right;
    border: none;
    height: 35px;
    padding: 4px;
    margin-right: 5%;
}
#contactbutton a {
    color: crimson;
}
#contactbutton:hover {
    transform: scale(1.08);
    transition: all .5s ease;
}

/* BANNER */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 90px;
    background-image: url(../images/welderbackground.jpg);
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* GOOGLE REVIEWS & CONTAINER */
.box {
    background-color: crimson;
    margin: 0 auto;
    width: 20%;
    max-width: 60rem;
    padding: 4rem 0;
    margin: 2%;
    border-radius: 20px;
    text-align: center;
}
.googleicon {
    max-width: 30%;
    margin: auto;
    display: block;
    padding: 30px 1px;
}
.googleicon:hover {
    opacity: .7;
}
/* SLIDESHOW */
.slideShowContainer {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0, 0, .25);
    border: 15px solid rgb(33, 33, 33);
    border-radius: 25px;
}
.slider img {
    flex: 1 0 100%;     /* TELLS IMG HOW TO BEHAVE. 1=EQUAL SIZE 0=RETAIN WIDTH, NO WRAP 100%=TAKES UPS ENTURE PARENT CONTAINER */
    scroll-snap-align: start;
    object-fit: cover;
    animation: slide 16s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
}
/* RIGHT BOX/HAVE US CALL YOU */
form{
    background-color: crimson;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.full-width {
    grid-column: span 2;
}
/* ABOUT US */
.aboutus {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.aboutus h2 {
    text-align: center;
    padding: 20px;
}
.aboutus p {
    text-align: center;
    padding: 20px;
}
.shopimage {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}
/* SERVICES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.aboutContainer {
    display: flex;
    justify-content: center;
    padding: 25px;
}
.card {
    background-color: crimson;
    margin: 20px;
    height: 500px;
    width: 400px;
    border-radius: 15px;
}
.card-image {
    background-color: crimson;
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    background-position-y: center;
    border-radius: 15px 15px 0 0;
}
.img1 {
    background-image: url('/images/about-services/weldershowcase.webp');
}
.img2 {
    background-image: url('/images/about-services/machinesets.webp');
}
.img3 {
    background-image: url('/images/about-services/practicesets.webp');
}
.card p {
    padding: 10px;
    color: white;
    text-align: center;;
}
.card h2 {
    padding: 10px;
    color: white;
    text-align: center;
}
.card:hover {
    background-color: rgb(207, 14, 14);
    transform: scale(1.03);
    transition: all 0.8s ease;
}