body {
    background-color: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* NAVBAR */
.navbar ul {
    background-color: rgb(33, 33, 33);
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    list-style: none;
    z-index: 100;
    max-height: 110px;
}
.navbar-center {
    text-align: center;
}
.navbar-center li {
    display: inline-block;
}
.navbar a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px;
}
.navbar a:hover {
    opacity: .8;
    color: rgb(255, 61, 100);
    transition: all 0.3s ease 0s;
}
.arcLogo {
    max-width: 350px;
    float: left;
}
#contactbutton {
    border: none;
    height: 35px;
    float: right;
}
#contactbutton a {
    color: #b91d25;
}
#contactbutton:hover {
    transform: scale(1.08);
    transition: all .5s ease;
}
#contactbutton:not(:hover) {
    transform: scale(1.0);
    transition: all .5s ease;
}
/* Hero */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero-wrapper {
    background-image: url(../images/welderbackground.jpg);
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 30px 0;
}
/* Form */
.form-container {
    background-color: #b91d25;
    border: 15px solid rgb(33, 33, 33); 
    border-radius: 25px;
    margin: 0 auto;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
  width: 100%;
  background-color: rgb(255, 61, 100);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
    background-color: #b91d25;
}

/* SLIDESHOW */
.slideShowContainer {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0, 0, .25);
    border: 15px solid rgb(33, 33, 33);
    border-radius: 25px;
    overflow: hidden; /* Removes scroller under underslideshow*/
}

.slider img {
    flex: 1 0 100%;     /* TELLS IMG HOW TO BEHAVE. 1=EQUAL SIZE 0=RETAIN WIDTH, NO WRAP 100%=TAKES UPS ENTURE PARENT CONTAINER */
    scroll-snap-align: start;
    object-fit: cover;
    animation: slide 25s infinite;
}
@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    65% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    90% {
        transform: translateX(-300%);
    }
}
/* ABOUT US */
.aboutus {
    background-color: #b91d25;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.aboutus h2 {
    color: white;
    text-align: center;
    padding: 20px;
}
.aboutus p {
    color: white;
    text-align: center;
    padding: 20px;
}
.shopimage {
    border: solid 15px rgb(33, 33, 33);
    border-radius: 15px;
    filter: drop-shadow(0 0 1.75rem black);
}
/* Services */
.services-wrapper {
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/welderbackground.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    color: white;
    padding: 50px;
}
/* 3 Cards*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#servicesContainer {
    display: flex;
    justify-content: center;
    padding: 25px;
}
.card {
    background-color: #b91d25;
    margin: 20px;
    height: 500px;
    width: 400px;
    border-radius: 15px;
}
.card-image {
    background-color: #b91d25;
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    background-position-y: center;
    border-radius: 15px 15px 0 0;
}
.img1 {
    background-image: url('../images/about-services/weldershowcase.webp');
}
.img2 {
    background-image: url('../images/about-services/machinesets.webp');
}
.img3 {
    background-image: url('../images/about-services/practicesets.webp');
}
.card p {
    padding: 10px;
    color: white;
    text-align: center;;
}
.card h2 {
    padding: 10px;
    color: white;
    text-align: center;
}
.card:hover {
    background-color: rgb(207, 14, 14);
    transform: scale(1.03);
    transition: all 0.8s ease;
}
/* Map + Arc Roar*/
.roar-image {
    padding: 25px;
}
.roar-image-lion {
    max-width: 60%;
    float: right;
}
.roar-image-lion:hover {
    transform: scale(1.05);
    transition: all 0.9s ease;
    
}
.roar-image-lion:not(:hover) {
    transform: scale(1.0);
    filter: saturate(30%);
    transition: all 0.9s ease;
}
/* Show more */
#more {
    /* display: none; */
    color: white;
    align-items: center;
}
.read-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#myBtn {
    color: #b91d25;
    border: none;
    cursor: pointer;
    font-weight: 700px;
    height: 25px;
}
#myBtn:hover {
    transform: scale(1.08);
    transition: all .5s ease;
}
.more-text-header {
    text-transform: uppercase;
}
.more-text {
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}
/* Footer Section */
.call-us-wrapper {
    margin: auto;
    padding: 25px;
    display: flex;
    background-color: #b91d25;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.contact-box {
    margin: 3%;
}
.contact-header {
    display: inline-block;
    text-align: justify;
    margin: 0;
    padding: 0;
}
.contact-box table, td {
    text-align: left;
}
/* Store.html */
.shop-container {
}
.shop-card {
    background-color: rgb(107, 64, 66);
    max-height: 500px;
    margin: 20px;
}

.shop-img1 {
    background-image: url('../images/about-services/machinesets.webp');
}
.shop-img2 {
    background-image: url('../images/about-services/machinesets.webp');
}
.shop-img3 {
    background-image: url('../images/about-services/machinesets.webp');
}
.shop-img4 {
    background-image: url('../images/about-services/machinesets.webp');
}
.shop-img5 {
    background-image: url('../images/about-services/machinesets.webp');
}

